.minaxams-dm-toolbox {
  &.minaxams-toolbox {
    .window-header {
      margin-block-end: 0px;
    }
    .tab.scrollable {
      padding: 0 5px;
    }
    .members-columns {
      margin: 5px 0;
      display: grid; 
      grid-template-columns: 1fr; 
      gap: 5px; 
    }
    .accordion {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 1fr;
      transition: grid-template-rows .35s ease;

      padding: 8px;
      font-family: var(--dnd5e-font-roboto-condensed);
      box-shadow: 0 0 6px var(--dnd5e-shadow-15);

      &.close {
        grid-template-rows: auto auto 0fr;
        .accordion-header::before {
          rotate: -90deg;
        }
      }
      

      .accordion-header {
        cursor: var(--cursor-pointer);
        background: none;
        border: none;
        color: var(--color-text-primary);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        &::before {
          content: "\f078";
          font-family: var(--font-awesome);
          font-weight: bold;
          color: var(--color-text-secondary);
          transition: all 250ms ease;
        }

        .name-header {
          flex: 1;
          font-family: var(--dnd5e-font-roboto-slab);
          font-weight: bold;
          text-align: center;
          font-size: var(--font-size-16);
        }
        .current-hp {
          width: 25px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: var(--dnd5e-font-roboto-slab);
          font-size: var(--font-size-14);
          text-align: center;
          border: 1px solid var(--color-fieldset-border);
          border-radius: 4px;
        }
      }
      .accordion-content {
       grid-template-rows: 0fr;
      }
    }
    .split-bars {
      margin: 5px 0;
      display: flex;
      justify-content: space-around;
      gap: 3px;
      .bar-segment {
        width: 30px;
        height: 15px;
        background: #c2c2c2;
        border-radius: 4px;
         border: 1px solid black;
        &.active {
          background: #f39c12;
        }
      }
    }
    .hp-counter {
      display: flex;
      align-items: center;
      gap: 10px;
      .member-hp-input {
        --input-height: 30px;
        font-size: var(--font-size-20);
        border: 1px solid var(--dnd5e-color-gold);
        border-radius: 4px;
        background: var(--meter-background);
        font-family: var(--dnd5e-font-roboto);
        font-weight: bold;
        text-align: center;
      }

      .icon-button {
        border-radius: 4px;
        background: var(--dnd5e-color-black);
        color: var(--dnd5e-color-gold);
        border: 1px solid var(--dnd5e-color-gold);
        font-size: var(--font-size-16);
      }
      .icon-anchor {
        flex: 0 0 20px;
        font-size: var(--font-size-20);
        text-align: center;
      }
    }
    .statuses {
      margin-top: 5px;
      display: flex;
      justify-content: center;
      gap: 5px;
      img {
        padding: 2px;
        width: 27px;
        height: 27px;
        border: 2px groove var(--dnd5e-color-gold);
        border-radius: 4px;
      }
    }
  }
}